%h2 Editor Signup

- form_for @editor, :html => { :method => :put }, :url => { :action => "update", |
    :confirmation_token => @editor.confirmation_token } do |f| |
    
  = f.error_messages
  %table.card
    %tr
      %th= f.label :user_name
      %td= f.text_field :user_name
    %tr
      %th= f.label :password
      %td= f.password_field :password
    %tr
      %th= f.label :password_confirmation
      %td= f.password_field :password_confirmation
  = submit_tag :submit
