/ %h2 Editor Signup

- form_for @editor, :html => { :method => :put }, :url => { :action => "update", |
    :confirmation_token => @editor.confirmation_token } do |f| |

  = f.error_messages
  .inputs
    .label-input
      %span.hint Your name
      = f.error_for :user_name
      = f.text_field :user_name, :placeholder => "John Doe"
      
    .label-input
      %span.hint Your password
      = f.error_for :password
      = f.password_field :password, :placeholder => "Password"

    .label-input
      %span.hint Password confirmation
      = f.error_for :password_confirmation
      = f.password_field :password_confirmation, :placeholder => "Password confirmation"

    .submit-input
      = submit_tag :submit, :class => 'submit'
      
    .clear
