- owner.fields_for :card, (@owner.card || Card.new) do |card_fields|
  %h5 Billing
  .inputs-row
    .title-input.card-number
      .title Credit card number
      .label-input
        = owner.error_for :'card.number'
        = card_fields.text_field 'number', :placeholder => '1234 5678 9123 4567'
    .title-input.exp-date
      .title Expiration date
      .label-input
        = owner.error_for :'card.expiration'
        = card_fields.date_select 'display_expiration_date', :use_month_numbers => true, :add_month_number => true, :start_year => Time.now.year, :end_year => Time.now.year+20, :discard_day => true, :order => [:month, :year] #, :placeholder => '02/2020'
    .title-input.verification-value
      .title Security code
      .label-input
        = owner.error_for :'card.verification_value'
        = card_fields.text_field 'verification_value', :placeholder => '123'
    .title-input
      .label-input
        = image_tag 'visa.png'
        = image_tag 'master-card.png'
  .inputs-row
    .title-input.first-name
      .title First name
      .label-input
        = owner.error_for :'card.first_name'
        = card_fields.text_field 'first_name', :placeholder => 'John'
    .title-input.last-name
      .title Last name
      .label-input
        = owner.error_for :'card.last_name'
        = card_fields.text_field 'last_name', :placeholder => 'Doe'
    .title-input.zip
      .title Zip code
      .label-input
        = owner.error_for :'card.zip'
        = card_fields.text_field 'zip', :placeholder => '10005'
  .clear