.plan.section
  %h5 Plan
  .plan-wrapper
    = render 'owner_preferences/plan_and_billing/plans/professional', :form => owner
    = render 'owner_preferences/plan_and_billing/plans/single', :form => owner
    = render 'owner_preferences/plan_and_billing/plans/free', :form => owner
    = render 'owner_preferences/plan_and_billing/plans/trial', :form => owner
    = render 'owner_preferences/plan_and_billing/plans/unlimited_trial', :form => owner

    - if @owner.plan.perioded?
      .next-billing-date
        .label-input
          - if @owner.plan.trial?
            .inner-title Trial ends date
          - else
            .inner-title Next billing date
          %span= @owner.next_billing_date

  .clear
