.welcome
  = "Welcome, <strong>#{current_user.full_name}</strong>"
  = render 'shared/logout'
.description 
  = "To start work, go to"
  - owner? or editor? do
    = "#{link_to("sites", sites_path)}"
  - owner? do
    = "or #{link_to("editors", editors_path)}"
  - admin? do
    = "#{link_to("owners", admin_owners_path)}"
  
  