.welcome
  = "Welcome, <strong>#{current_user.full_name}</strong>"
  = render 'shared/logout'
.description 
  = "To start work, go to"
  = "the #{link_to("sites", sites_path)}"
  = "or"
  = link_to("editors", editors_path)
  