.welcome
  = "Welcome, <strong>#{current_user.full_name}</strong>"
  = render 'shared/logout'
.description 
  = "For the start working, go to"
  = link_to("sites", sites_path)
  = "or"
  = link_to("sites", editors_path)
  