- inside_layout 'public' do
  - form_for :user, resource, :url => session_path(:user) do |f|
    .inputs
      .label-input
        = f.text_field :email
        = f.label :email
      .label-input
        = f.password_field :password
        = f.label :password
      = f.submit '', :class => 'submit'
    #hint
      %small#signup
        Not an Editfu Member? 
        = link_to 'Learn more', '#'
        or 
        = link_to 'Sign up.', new_owner_path
      %small#forgot
        = link_to 'Forgot Password?', new_password_path(:user)
