- form_tag user_session_path, :method => :post do 
  .inputs
    .label-input
      = text_field_tag 'user[email]', @user.email
      = label_tag 'user_email'
    .label-input
      = password_field_tag 'user[password]'
      = label_tag 'user_password'
    = submit_tag '', :class => 'submit'
  #hint
    %small#signup
      Not an Editfu Member? 
      = link_to 'Learn more', '#'
      or 
      = link_to 'Sign up.', new_owner_path
    %small#forgot
      = link_to 'Forgot Password?', new_password_path(:user)
