- add_stylesheets "subscriptions"

- @title = "Subscriptions"
-# @hint = '<span class="red">You can\'t set subsciprion, because user has unpayment account</span>' unless @owner.subscription_is_possible?


- form_for [:admin, @owner], @owner, :url => {:action => :update}, :html => { :method => :put, :id => 'subscription' } do |f|
  - error_messages_for :owner

  %table.subscriptions
    %thead
      %tr
        %th= "Plan"
        %th= "Price"
        %th= "Start date"
        %th= "End date"
        %th= "Created"
        %th= "Destroy?"
    %tbody
      - f.fields_for :subscriptions do |sbscr|
        %tr{:style => ("display: none;" if sbscr.object.new_record?), :id => dom_id(sbscr.object)}
          - unless sbscr.object.new_record?
            %td= "#{sbscr.object.plan.name}" 
          - else
            %td= sbscr.collection_select :plan_id, Plan.all, :id, :name, { :selected => sbscr.object.owner.plan.id}, { :disabled => sbscr.object.new_record? }
          %td
            $
            = sbscr.text_field  :price_in_dollars, :class => :price, :disabled => sbscr.object.new_record?, :value => (@owner.plan.price_in_dollars if sbscr.object.new_record?)
          %td= sbscr.date_select :starts_at, :disabled => sbscr.object.new_record?, :default => (Date.today if sbscr.object.new_record?)
          %td= sbscr.date_select :ends_at, :disabled => sbscr.object.new_record?, :default => (1.month.since if sbscr.object.new_record?)
          - unless sbscr.object.new_record?
            %td{:title => sbscr.object.created_at }= sbscr.object.created_at.strftime("%Y-%m-%d") 
            %td= sbscr.check_box(:_destroy) 
          - else
            %td= "none"
            %td= link_to_function "Cancel", "$('new_subscription').hide(); $$('#new_subscription input', '#new_subscription select').invoke('disable'); $('add_new_subscription').show()"
      %tr
        %td{:colspan => 5, :style => "text-align: right;"}
          = link_to_function "Add new subscription" + (" and unhold user" if @owner.hold?).to_s, "$('new_subscription').show(); $$('#new_subscription input', '#new_subscription select').invoke('enable'); $(this).hide()", :id => :add_new_subscription

  = submit_tag "Update", :class => "update-button"

