- inside_layout 'public' do
  = stylesheet_link_tag 'public/signup'

  - remote_form_for @owner do |f|
    .inputs
      .inputs-row
        .label-input
          %span.hint Company name
          = f.text_field :company_name
          = f.label :company_name, 'mygreatcompany'
          %span.description Company or other unique name.
        .label-input.subdomain
          = f.text_field :domain_name
          #fake_domain_name
          = ".#{BASE_DOMAIN}"
        .label-input
          %span.hint Your name
          = f.text_field :user_name
          = f.label :user_name, 'John Doe'
          %span.description For identification.
        .label-input
          %span.hint Your email
          = f.text_field :email
          = f.label :email, 'john@gmail.com'
          %span.description For login and communication.
        .label-input.password
          %span.hint Password
          = f.password_field :password
          = f.label :password
          %span.description
        .clear

      .label-input.password-confirmation
        = f.password_field :password_confirmation
        = f.label :password_confirmation
      .clear
      .label-input.terms_of_service
        = f.check_box :terms_of_service
        = f.label :terms_of_service, "I accept" 
        = link_to_remote "terms of service", :url => terms_of_service_owners_path, :method => :get, :html => { :href => terms_of_service_owners_path }
        = link_to image_tag("popup.png", :alt => 'Open in popup'), terms_of_service_owners_path, :target => "_blank"
        %span#terms
      .clear

      = submit_tag 'Sign Up', :class => 'submit'
      #login.hint
        = link_to 'Already a Member', new_user_session_path
      .clear

      = link_to_function "What am I signing up for?", :class => 'hint' do |page|
        - page << "$('comments').show();"
        - page << "new Effect.Opacity('comments',  { from: 0, to: 1, duration: 0.5 });"
      #comments.hint{ :style => 'opacity: 0; display: none;' }
        %p 
          After signing up you will receive an email for verification.
          %br
          Click it and log in.

        %p 
          Your signing up for a free 30 day trail and after the
          %br
          30 days you can choose which plan you want to keep.

        %p
          No credit card is required till after the trial and 
          %br
          only if you decide to continue using EditFu

        %p
          = link_to 'Learn more', 'http://www.takeastep.me/editfu/', :target => "_blank"
          about the
          = link_to 'features', 'http://www.takeastep.me/editfu-features-benefits/', :target => "_blank"
          and
          = link_to 'pricing', 'http://www.takeastep.me/editfu-pricing/', :target => "_blank"
