- inside_layout 'public' do
  = stylesheet_link_tag 'public/signup'

  - remote_form_for @owner do |f|
    .inputs
      .inputs-row
        .label-input
          %span.hint Company name
          = f.text_field :company_name
          = f.label :company_name, 'mygreatcompany'
          %span.description Company or other unique name.
        .label-input
          %span.hint Your name
          = f.text_field :user_name
          = f.label :user_name, 'John Doe'
          %span.description For identification.
        .label-input
          %span.hint Your email
          = f.text_field :email
          = f.label :email, 'john@gmail.com'
          %span.description For login and communication.
        .label-input.password
          %span.hint Password
          = f.password_field :password
          = f.label :password
          %span.description
        .clear

      .label-input.password-confirmation
        = f.password_field :password_confirmation
        = f.label :password_confirmation
      .clear

      = submit_tag 'Sign Up', :class => 'submit'
      #login.hint
        = link_to 'Already a Member', new_user_session_path
      .clear

      #comments.hint
        %p 
          After signing up you will receive an email for verification.
          %br
          Click it and log in.

        %p 
          Your signing up for a free 30 day trail and after the
          %br
          30 days you can choose which plan you want to keep.

        %p
          No credit card is required till after the trial and 
          %br
          only if you decide to continue using EditFu

        %p
          = link_to 'Learn more', '#'
          about the
          = link_to 'features', '#'
          and
          = link_to 'pricing', '#'
