#owner-preferences-popup
  %h1 Preferences
  - remote_form_for :preferences, :url => owner_preferences_path, :html => { :method => :put } do |f|
    - f.fields_for @owner do |owner|
      .account.inputs
        %h2 Account
        .inputs-row
          .username.label-input
            = owner.text_field 'user_name'
            = owner.label 'user_name'
          .email.label-input
            = owner.text_field 'email'
            = owner.label 'email'
          .password.label-input
            = owner.password_field 'password'
            = owner.label 'password'
        .inputs-row
          .domain.label-input
            = owner.text_field 'domain_name'
            = owner.label 'domain_name'
          .editfu_com.label-input .#{BASE_DOMAIN}
        .clear
      .plan
        %h2 Plan
        .plan-wrapper
          = owner.radio_button 'plan', 'professional', :class => 'radio'
          .plan-label
            %label(for='preferences_owner_plan_professional')
            %dl
              %dt Pro $24
              %dd
                %ul 
                  %li Unlimited Sites
                  %li Unlimited Pages
                  %li Unlimited Editors
                  %li Unlimited Updates
            %small Current
                  
          = owner.radio_button 'plan', 'free', :class => 'radio'
          .plan-label
            %label(for='preferences_owner_plan_free')
            %dl
              %dt Free
              %dd
                %ul 
                  %li 1 Site
                  %li 3 Pages
                  %li No Editors
                  %li Unlimited Updates
            %small Current
        %small.description Click on a different package to upgrade or downgarde...
    - f.fields_for :card, @card do |card|
      .billing.inputs
        %h2 Billing
        .inputs-row
          .card-number.label-input
            = card.text_field 'number'
            = card.label 'number',  @owner.card_number || 'Card Number'
          .exp-date.label-input
            = card.text_field 'expiration'
            = card.label '02/2020'
        .inputs-row
          .first-name.label-input
            = card.text_field 'first_name'
            = card.label 'first_name'
          .last-name.label-input
            = card.text_field 'last_name'
            = card.label 'last_name'
        .clear
    .message(style='display: none;')
    .popup-action-bar
      = f.submit "Save"
      = link_to_function "Cancel", "hidePopup();", :class => 'cancel'
