#owner-preferences-popup
  %h1 Preferences
  - remote_form_for :preferences, :url => owner_preferences_path, :html => { :method => :put } do |f|
    - f.fields_for @owner do |owner|
      .account.inputs
        %h2 Account
        .inputs-row
          .username.label-input
            = owner.text_field 'user_name'
            = owner.label 'user_name'
          .email.label-input
            = owner.text_field 'email'
            = owner.label 'email'
        .inputs-row
          .domain.label-input
            = owner.text_field 'domain_name'
            = owner.label 'domain_name'
          .editfu_com.label-input .#{BASE_DOMAIN}
        .inputs-row
          .current-password.label-input
            = owner.password_field 'current_password'
            = owner.label 'current_password'
          .password.label-input
            = owner.password_field 'password'
            = owner.label 'password', 'New password'
          .password-confirmation.label-input
            = owner.password_field 'password_confirmation'
            = owner.label 'password_confirmation', 'Confirm password'
        .clear
      .plan
        %h2 Plan
        .plan-wrapper
          = owner.radio_button 'plan', 'professional', :class => 'radio'
          .plan-label{selected_class(@owner.plan == 'professional')}
            %label(for='preferences_owner_plan_professional')
            %dl
              %dt Pro $24
              %dd
                %ul 
                  %li Unlimited Sites
                  %li Unlimited Pages
                  %li Unlimited Editors
                  %li Unlimited Updates
            %small Current
                  
          = owner.radio_button 'plan', 'free', :class => 'radio'
          .plan-label{selected_class(@owner.plan == 'free')}
            %label(for='preferences_owner_plan_free')
            %dl
              %dt Free
              %dd
                %ul 
                  %li 1 Site
                  %li 3 Pages
                  %li No Editors
                  %li Unlimited Updates
            %small Current
        %small.description Click on a different package to upgrade or downgarde...
    - f.fields_for :card, @card do |card|
      .billing.inputs
        %h2 Billing
        .inputs-row
          .card-number.label-input
            = card.text_field 'number'
            = card.label 'number',  @owner.card_number || 'Card Number'
          .exp-date.label-input
            = card.text_field 'expiration'
            = card.label 'expiration', '02/2020'
          .verification-value.label-input
            = card.text_field 'verification_value'
            = card.label 'verification_value', 'CVV'
          = image_tag 'visa.png'
          = image_tag 'master-card.png'
          = image_tag 'cards.png'
        .inputs-row
          .first-name.label-input
            = card.text_field 'first_name'
            = card.label 'first_name'
          .last-name.label-input
            = card.text_field 'last_name'
            = card.label 'last_name'
          .zip.label-input
            = card.text_field 'zip'
            = card.label 'zip'
          - if @owner.plan == 'professional'
            - if @owner.prev_billing_date
              .label-input.prev-billing-date
                .label Last billing date
                = @owner.prev_billing_date
            .label-input.next-billing-date
              .label Next billing date
              = @owner.next_billing_date
        .clear

    .popup-action-bar
      = link_to_remove owner_path, 'Cancel My Account'

      = f.submit "Update"
      = link_to_function "Cancel", "hidePopup();", :class => 'cancel'
