= stylesheet_link_tag 'popup'
= javascript_include_tag 'popup'

.popup(id=id class=clazz)
  %h1= title
  = yield

  .popup-hint= hint || 'Click within the content above to edit it. To learn more about FTP click here.'
  .message(style='display: none;')
  .action-bar
    = link_to_function action[0] || 'Save', action[1] || 'return submitPopup(this);', :class => 'save'
    = link_to 'Cancel', '#', :class => 'cancel'
