#new-page-popup
  %h1 New Page
  - remote_form_for [@site, @page] do |form|
    .inputs.tree-input
      .label-input
        = form.hidden_field :path
        #ftp-tree

    .clear
    .message(style='display: none;')
    %small.description Choose the pages you would like to add
    .popup-action-bar
      = form.submit "Add"
      = link_to_function "Cancel", "hidePopup();", :class => 'cancel'

:javascript
  new PageFtpTree(#{@site.id}, "#{@site.site_root}");
