%h2 Add new page

= new_page_content do
  - form_for [@site, @page] do |form|
    = form.error_messages
    %table.card
      %tr
        %th= form.label :path
        %td= form.text_field :path
    = submit_tag :create
