= content_for :sourceBar do
  = render :partial => 'shared/sites_source_bar'

%h2 Add new page
- form_for [@site, @page] do |form|
  = form.error_messages
  %table.card
    %tr
      %th= form.label :path
      %td= form.text_field :path
  = submit_tag :create
