%h2 Add new page

= new_page_content do
  - form_for [@site, @page] do |form|
    = form.error_messages
    %table.card
      %tr
        %th= form.label :path
        %td
          = form.text_field :path
          = link_to_function image_tag('tree/open.png'), 'PageFtpTree.show()'
    = submit_tag :create

#ftpTree
  %ul
    %li.root
      %span= @site.server
      = render_site_root(@site)

:javascript
  new PageFtpTree(#{@site.id});
