= stylesheet_link_tag 'tree2'
= javascript_include_tag 'tree2'

- popup :id => 'new-page', :title => 'New Page' do
  - form_for [@site, @page], :html => { :onsubmit => 'return false;' } do |form|
    = render 'shared/tree_input', :hint => 'Choose the page', :form => form, :hidden => :path

:javascript
  new PageFtpTree(#{@site.id}, "#{@site.site_root}");
