= javascript_include_tag 'tiny_mce/tiny_mce', 'page'

= show_page_content do
  %h2=@page.path
  - owner? do
    #actions
      %a(href='#') View
      %a(href='#') Settings
      = link_to 'Remove Page', [@site, @page], |
        :method => :delete, :confirm => 'Are you sure?' |

    #saveNotice{:style => 'display: none'} Saving page content...
  - if @error
    .error= @error
  - else
    - form_for [@site, @page], :html => { |
        :id => 'update_form', :onsubmit => 'return savePageSections();' |
      } do |
      - unless @sections.empty?
        #sections
          %h3 Section List
          - @sections.each_with_index do |section, index|
            .section{:id=>"section_#{index}"}
              = text_area_tag 'sections[]', section, :id => nil

      - unless @images.empty?
        #images
          - @images.each do |src|
            .image
              .thumbnail
                %img{:src => "#{@site.site_url}/#{src}"}
              = hidden_field_tag 'images[]', src, :id => nil
        .clearLeft
      = submit_tag :update

:javascript
  initTinyMCE({
    site_url: '#{@site.site_url}',
    new_image_path: '#{new_site_image_path(@site)}',
    document_base_url: '#{@site.site_url}/'
  });
