- inside_layout 'sites' do
  = javascript_include_tag 'tiny_mce/tiny_mce', 'page', 'popups/image-popup'
  = stylesheet_link_tag 'page', 'popups/image-popup', 'popups/code-popup'

  - @title = @page.path
  - @hint = 'Edit sections below and then click publish to implement the changes to this page on the website.'

  = content_for :actions do
    = link_to 'View actual page', @page.url, :target => '_blank'
    - if current_user.owner?
      = link_to_remove site_page_path(@site, @page), 'Remove Page', |
        'Are you sure you want to delete this page?' |

  - remote_form_for [@site, @page], :html => { :id => 'page-form' } do |f|
    - unless @sections.blank?
      - @sections.each do |section|
        .mce-editor
          = text_area_tag 'sections[]', section, :id => nil, :class => 'mce_area'

    - unless @images.blank? 
      .hint Click any of the images below to swap it out with a different image.
      - @images.each do |attributes|
        .image
          .bar 100 X 100
          .thumbnail
            %img{:src => File.join(@site.http_url, attributes['src']), |
              :alt => attributes['alt'], :onload => 'initImage(this);' } |
          - attributes.each do |k,v|
            = hidden_field_tag "images[][#{k}]", v, :id => nil
    - if @sections.present? && @images.present?
      = f.submit "Publish", :class => "update-button"

  #code-popup-template(style='display: none;')
    .code-popup.one-column-popup
      %h1 HTML Code
      - form_tag '#', :onsubmit => 'updateHtmlCode(); return false;' do
        = text_area_tag :code
        .popup-action-bar
          = link_to_function "Cancel", "hidePopup();", :class => 'action cancel'
          = submit_tag 'Update'
    
  :javascript
    initTinyMCE({
      site_url: '#{@site.http_url}',
      code: '#{current_user.owner? ? ',code' : ''}',
      new_image_path: '#{new_site_image_path(@site)}',
      document_base_url: '#{@site.http_url}/'
    });
