- inside_layout 'sites' do
  = javascript_include_tag 'tiny_mce/tiny_mce', 'page', 'popups/image-popup'
  = stylesheet_link_tag 'page', 'popups/image-popup', 'popups/code-popup'
  = stylesheet_link_tag 'nocontent'

  - @title = @page.path
  - @hint = 'Edit sections below and then click publish to implement the changes to this page on the website.'

  = content_for :actions do
    = render "layouts/action_bars/view_page", :page => @page
    = render "layouts/action_bars/remove_page", :page => @page, :site => @site

  = content_for :action_bar do
    = render "layouts/action_bars/view_page", :page => @page
    = render "layouts/action_bars/delimiter"


  - remote_form_for [@site, @page], :html => { :id => 'page-form' } do |f|
    - if @page.empty?
      .nosites
        .inside
          There is no content to edit... Yet!
          %br
          - unless @page.owner.owner?
            = "Contact <strong>#{@page.owner.full_name}</strong> (#{mail_to(@page.owner.email)}) for more info."
        .helper
        = help_link_for :no_content
          
    - unless @sections.blank?
      - @sections.each do |section|
        .mce-editor
          = text_area_tag 'sections[]', section, :id => nil, :class => 'mce_area'

    - unless @images.blank? 
      .hint Click any of the images below to swap it out with a different image.
      - @images.each do |attributes|
        .image
          .bar 100 X 100
          .thumbnail
            %img{:src => File.join(@site.http_url, attributes['src']), |
              :alt => attributes['alt'], :onload => 'initImage(this);' } |
          - attributes.each do |k,v|
            = hidden_field_tag "images[][#{k}]", v, :id => nil
    - unless @page.empty?
      = f.submit "Publish", :class => "update-button"
  
  #code-popup-template(style='display: none;')
    .code-popup.two-column-popup.html_code
      %h1 HTML Code
      - form_tag '#', :onsubmit => 'updateHtmlCode(); return false;', :class => "withtextarea"  do
        = text_area_tag :code
        .popup-action-bar
          = submit_tag 'Update'
          = link_to_function "Cancel", "hidePopup();", :class => 'action cancel'
    
  :javascript
    initTinyMCE({
      site_url: '#{@site.http_url}',
      code: '#{current_user.owner? ? ',code' : ''}',
      new_image_path: '#{new_site_image_path(@site)}',
      document_base_url: '#{@site.http_url}/'
    });
