= javascript_include_tag 'tiny_mce/tiny_mce.js'
:javascript
  tinyMCE.init({
    mode : "textareas",
    theme : "simple"
  });

= content_for :sourceBar do
  = render :partial => 'shared/sites_source_bar'

%h2=@page.path
#actions
  %a(href='#') View
  %a(href='#') Settings
  = link_to 'Remove Page', [@site, @page], |
    :method => :delete, :confirm => 'Are you sure?' |

- if @error
  .error= @error
- else
  - form_tag update_sections_site_page_path(@site, @page) do
    - @sections.each_with_index do |section, index|
      .section{:id=>"section_#{index}"}
        = text_area_tag 'sections[]', section
    = submit_tag :update
