- inside_layout 'sites' do
  = javascript_include_tag 'tiny_mce/tiny_mce', 'page', 'popups/image-popup'
  = stylesheet_link_tag 'page', 'popups/image-popup', 'popups/code-popup'
  = stylesheet_link_tag 'nocontent'

  - @title = @page.path
  - @hint = 'Edit sections below and then click publish to implement the changes to this page on the website.'

  = content_for :actions do
    = render "layouts/action_bars/view_page", :page => @page
    = render "layouts/action_bars/remove_page", :page => @page, :site => @site

  = content_for :action_bar do
    = render "layouts/action_bars/view_page", :page => @page
    = render "layouts/action_bars/delimiter"


  - if @page.html_valid?
    = render "form"
  - else
    .nosites
      .wrapper
        .inside
          The page '#{@page.path}' contains one or more incorrectly used editfu classes. 
          %br
          The editfu class should only be used on elements:
          %br
          #{Page::ALLOWED_TAGS.map{|t| content_tag(:strong, t.to_s.upcase)}.to_sentence}
          %br

      = help_link_for :invalid_page
      .helper
    