#downgrade-popup
  %h1 Plan Downgrade
  - form_remote_tag :url => downgrade_preferences_path, :method => :post do
    %ul.sites
      - @owner.sites.each do |site|
        %li.site
          .row
            = radio_button_tag "sites[]", site.id, false, :id => "sites_#{site.id}"
            = label_tag "sites_#{site.id}", site.name
          %ul.pages
            - site.pages.each do |page|
              %li.page
                .row
                  = check_box_tag "pages[]", page.id, false, :id => "pages_#{page.id}"
                  = label_tag "pages_#{page.id}", page.path

    .message(style='display: none;')
    %small.description Choose 1 site and 3 of its pages you would like to keep.
    
    .popup-action-bar
      = submit_tag "Downgrade"
      = link_to_remote 'Return', :url => preferences_path, :method => :get, |
        :html => { :class => 'cancel' } |
