#preferences-popup
  %h2 Preferences
  - form_for :preferences, :url => preferences_path, :html => { :method => :put } do |f|
    .account.inputs
      %h2 Account
      .username.label-input
        = f.text_field 'name', :id => nil
        = f.label 'name'
      .email.label-input
        = f.text_field 'email', :id => nil
        = f.label 'email'
      .domain.label-input
        = f.text_field 'name', :id => nil
        = f.label 'domain'
      .editfu_com .editfu.com
      .clear
    .plan
      %h2 Plan
      .plan-wrapper
        = f.radio_button 'plan', 'professional', :class => 'radio'
        .plan-label
          %label(for='preferences_plan_professional')
          %dl
            %dt Pro $24
            %dd
              %ul 
                %li Unlimited Sites
                %li Unlimited Pages
                %li Unlimited Editors
                %li Unlimited Updates
          %small Current
                
        = f.radio_button 'plan', 'free', :class => 'radio'
        .plan-label
          %label(for='preferences_plan_free')
          %dl
            %dt Free
            %dd
              %ul 
                %li 1 Site
                %li 3 Pages
                %li No Editors
                %li Unlimited Updates
          %small Current
      %small.description Click on a different package to upgrade or downgarde...
    .billing.inputs
      %h2 Billing
      .card-number.label-input
        = f.text_field 'card_number', :id => nil
        = f.label 'card_number'
      .exp-date.label-input
        = f.text_field 'email', :id => nil
        = f.label 'email'
      .first-name.label-input
        = f.text_field 'name', :id => nil
        = f.label 'name'
      .last-name.label-input
        = f.text_field 'name', :id => nil
        = f.label 'name'
      .clear
