%h2 Edit Preferences

- form_for :preferences, :url => preferences_path, :html => { :method => :put } do |f|
  = f.error_messages
  %table.card
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th= f.label :email
      %td= f.text_field :email
  = submit_tag :update
