.account.inputs
  .inputs-row
    .title-input.username
      .title Update your name
      .label-input
        = owner.error_for :user_name
        = owner.text_field 'user_name', :placeholder => 'John Doe'
    .title-input.email
      .title Update your email
      .label-input
        = owner.error_for :email
        = owner.text_field 'email', :placeholder => 'John@gmail.com'
  .inputs-row
    .title-input.current-password
      .title Change your password
      .label-input
        = owner.error_for :current_password
        = owner.password_field 'current_password', :placeholder => 'Current password'
    .title-input.password
      .label-input
        .title New password
        = owner.error_for :password
        = owner.password_field 'password', :placeholder => 'New password'
    .title-input.password-confirmation
      .label-input
        .title Confirm password
        = owner.error_for :password_confirmation
        = owner.password_field 'password_confirmation', :placeholder => 'Confirm password'
  .inputs-row
    .title-input.domain
      .title Change subdomain name
      .label-input
        = owner.error_for :domain_name
        = owner.text_field 'domain_name', :placeholder => 'mycompany'
    .title-input.editfu_com
      .label-input .#{BASE_DOMAIN}
  .clear
  .inputs-row
    .title-input.email
      .title Your company name
      .label-input
        = owner.error_for :company_name
        = owner.text_field 'company_name', :placeholder => 'My Great Company'
      %small.description
        Place your company name above to give EditFu your own branding. 
        = link_to_remote "Return the default EditFu logo", :url => identity_owner_preferences_path, :method => :post, :html => { :class => :red }
  .clear
