= javascript_include_tag 'editor'
= stylesheet_link_tag 'sites-and-pages'

- @title = @editor.user_name
- @hint = 'Choose the level of access you wish to give this editor access to by checking the box next to that page or site then click update.'
- @hint << "<br /><strong class='red'>Account didn't confirmed yet.</strong>" unless @editor.confirmed?

= content_for :actions do
  = render "layouts/action_bars/preferences_editor", :editor => @editor
  = render "layouts/action_bars/delete_editor", :editor => @editor

= content_for :action_bar do
  = render "layouts/action_bars/delete_editor", :editor => @editor
  = render "layouts/action_bars/preferences_editor", :editor => @editor


- form_remote_tag :url => update_permissions_editor_path(@editor) do |form|
  %ul.sites
    - sort_sites(current_user.sites).each do |site|
      %li.site
        .row
          = check_box_tag "sites[#{site.id}]"
          = site.name
        %ul.pages
          - sort_pages(site.pages).each do |page|
            %li.page
              .row
                = check_box_tag 'pages[]', page.id, @editor.pages.include?(page), |
                  :id => "pages_#{page.id}", :class => "sites_#{site.id}" |
                = label_tag "pages_#{page.id}", page.path
  = submit_tag "Update", :class => "update-button"
