= javascript_include_tag 'editor'
= stylesheet_link_tag 'editor'

- @title = @editor.name
- @hint = 'Choose the sites you wish to give this editor access to by checking the box.'

= content_for :actions do
  = link_to 'Settings', '#'
  = link_to 'Delete', @editor, :method => :delete, :confirm => 'Are you sure?', :class => 'important'

- remote_form_for @editor do |form|
  %ul.sites
    - current_user.sites.each do |site|
      %li.site
        .row
          = check_box_tag "sites[#{site.id}]"
          = site.name
        %ul.pages
          - site.pages.each do |page|
            %li.page
              .row
                = check_box_tag 'pages[]', page.id, @editor.pages.include?(page), |
                  :id => "pages_#{page.id}", :class => "sites_#{site.id}" |
                = label_tag "pages_#{page.id}", page.path
  = form.submit "Update", :class => "update-button"

