#identity-popup.one-column-popup
  = stylesheet_link_tag 'popups/identity-popup'
  %h1 Branding
  - remote_form_for current_user, :url => identity_path, :html => { :method => :put } do |f|
    .inputs
      .title-input.first
        .title Company name
        .label-input
          = f.text_field 'identity'
          = f.label 'identity', 'My Great Company'
      .clear

    .popup-action-bar
      %small.description 
        Place your company name above to give EditFu your own branding.
        %br
        To return to the default EditFu logo, choose default below.
      = f.submit "Update"
      = link_to_function "Cancel", "hidePopup();", :class => 'action cancel'
      = f.submit "Default", :class => 'default', :onclick => '$("owner_identity").value = ""'
