%p
  The address for your content editing system account was changed from 
  #{@owner.domain_name_was}.#{BASE_DOMAIN} to 
  #{@owner.subdomain}.#{BASE_DOMAIN}.
  The new address is where you will proceed to login next time.
%p
  If you have any questions please contact admin [ #{@owner.email} ].

=render 'signature', :name => 'support'
