Hey #{@user.user_name},

%p
  %strong= @user.owner.user_name
  has invited you to be an editor for a website.
%p 
  You will need to confirm your account by clicking here: 
  = link_to 'Confirm my account', |
    edit_editor_confirmation_url(:confirmation_token => @user.confirmation_token) |
%p 
  In the future you can login at
  = link_to @user.company_domain, @user.company_url
%p 
  If you need any help with editing content, you can checkout the
  = link_to 'FAQ', 'http://www.editfuapp.com/faq/', :target => "_blank"
  or the 
  = link_to 'tutorial videos', 'http://www.takeastep.me/editfu-tutorials/', :target => "_blank"
%p 
  For further assistance contact 
  %strong= @user.owner.user_name 
  at #{@user.owner.email}.

