Hi, Admin

- if @days_owners.any?
  List of users, whose subscritions expires in nearest 24 hours:
  %ul
    - @days_owners.each do |owner|
      %li
        = link_to owner.full_name, admin_audit_url(owner)
        %small= owner.next_billing_date
      

- if @weeks_owners.any?
  %hr
  
  list of users, whose subscritions expires next week:
  %ul
    - @weeks_owners.each do |owner|
      %li
        = link_to owner.full_name, admin_audit_url(owner)
        %small= owner.next_billing_date


- if @todays_owners.any?
  %hr
  
  I've created new subscription for a next month for:
  %ul
    - @todays_owners.each do |owner|
      %li
        = link_to owner.full_name, admin_audit_url(owner)
        %small= owner.next_billing_date


%p
  Best regards, your website EditFu
