- form_for [:admin, @owner], :html => { :id => 'owner-card' } do |f|
  .status-row
    %span.enabled
      = f.check_box :enabled
      = f.label :enabled, 'Active User'

    %span.hold
      = f.check_box :hold
      = f.label :hold

    / %span.hold
    /   = # f.check_box :unlimited_trial?
    /   = # f.label :unlimited_trial?
  = submit_tag "Update", :class => "update-button"

  .row
    .label Email Address
    .value= @owner.email
  .row
    .label Registration Date
    .value= @owner.created_at
  .row
    .label Last Logged In
    .value= @owner.last_sign_in_at
  .row
    .label 
      Next billing date 
      - if @owner.next_billing_date
        after
        %strong= distance_of_time_in_words_to_now(@owner.next_billing_date) 
    - if @owner.next_billing_date
      .value= @owner.next_billing_date
    - else
      .value No next billing date, because user has unpayment plan (free perhaps)
    
  .row
    .label Package
    .value= @owner.plan.name
