= stylesheet_link_tag 'admin/owner'

= content_for :sourceBar do
  %ul#top-menu
    %li
      %ul.menu#owner-menu
        = render "menu_items"
          

- @title = @owner.user_name
- @hint = ''

= content_for :action_bar do
  = render "remove_owner", :owner => @owner
  = render "audit_owner", :owner => @owner
  = render "hold_owner", :owner => @owner
  = render "activate_owner", :owner => @owner

= render "form"