= stylesheet_link_tag 'admin/owner'

= content_for :sourceBar do
  %ul#top-menu
    %li
      %ul.menu#owner-menu
        - @owners.each do |owner|
          = menu_item(owner, :text => owner.user_name, :href => admin_owner_path(owner), :selected => @owner)

- @title = @owner.user_name
- @hint = ''

= content_for :actions do
  = link_to_remove admin_owner_path(@owner), 'Delete'

- form_tag enable_admin_owner_path(@owner), :id => 'owner-card' do
  .enabled-row
    = check_box_tag :enabled, 1, @owner.enabled
    = label_tag :enabled, 'Active User'
  = submit_tag "Update", :class => "update-button"

  .row
    .label Email Address
    .value= @owner.email
  .row
    .label Registration Date
    .value= @owner.created_at
  - if @owner.confirmed?
    .row
      .label Billing Date
      .value #{@owner.billing_day}th of Month
  .row
    .label Package
    .value= @owner.plan.capitalize
