= stylesheet_link_tag 'admin/owner'

= content_for :sourceBar do
  %ul#top-menu
    %li
      %ul.menu#owner-menu
        - sort_users(@owners).each do |owner|
          = menu_item(owner, :text => owner.user_name, :href => admin_owner_path(owner), :selected => @owner)

- @title = @owner.user_name
- @hint = ''

= content_for :actions do
  = link_to_remove admin_owner_path(@owner), 'Delete'

- form_for [:admin, @owner], :html => { :id => 'owner-card' } do |f|
  .status-row
    %span.enabled
      = f.check_box :enabled
      = f.label :enabled, 'Active User'

    %span.hold
      = f.check_box :hold
      = f.label :hold

    %span.hold
      = f.check_box :unlimited_trial?
      = f.label :unlimited_trial?
  = submit_tag "Update", :class => "update-button"

  .row
    .label Email Address
    .value= @owner.email
  .row
    .label Registration Date
    .value= @owner.created_at
  .row
    .label Last Logged In
    .value= @owner.last_sign_in_at
  - if @owner.confirmed?
    .row
      .label Billing Date
      .value #{@owner.billing_day}th of Month
  .row
    .label Package
    .value= @owner.plan.capitalize
