#simple-preferences-popup.one-column-popup
  %h1 Preferences
  - remote_form_for :preferences, current_user, :url => simple_preferences_path, :html => { :method => :put } do |f|
    .inputs
      .username.title-input.first
        .title Update your name
        .label-input
          = f.error_for :user_name
          = f.text_field :user_name, :placeholder => "User name"
      .email.title-input
        .title Update your email
        .label-input
          = f.error_for :email
          = f.text_field :email, :placeholder => "Email"
      .current-password.title-input
        .title Change your password
        .label-input
          = f.error_for :current_password
          = f.password_field :current_password, :placeholder => "Current password"
      .password.label-input
        = f.error_for :password
        = f.password_field :password, :placeholder => 'New password'
      .password-confirmation.label-input
        = f.error_for :password_confirmation
        = f.password_field :password_confirmation, :placeholder => 'Confirm password'
      .clear

    .popup-action-bar
      %small.description Update your name, email, or password and click update.
      = f.submit "Update"
      = link_to_function "Cancel", "hidePopup();", :class => 'action cancel'
