%h2 Professional Plan

- form_for :card, @card, |
    :url => professional_preferences_plans_path, :html => { :method => :post }  do |f| |
  = f.error_messages

  %table.card
    %tr
      %th= f.label :number
      %td= f.text_field :number
    %tr
      %th= f.label :expiration
      %td
        = select_month @card.month.to_i, :prefix => 'card'
        = select_year @card.year.to_i, :start_year => Date.today.year, :prefix => 'card'
    %tr
      %th= f.label :first_name
      %td= f.text_field :first_name
    %tr
      %th= f.label :last_name
      %td= f.text_field :last_name
  = submit_tag "Confirm"
