.site-popup.two-column-popup#new-site-popup
  %h1= title
  - remote_form_for @site, :html => { :id => 'site_form' } do |form|
    .inputs.tree-input
      .label-input
        = form.hidden_field :site_root
        %small.description Choose the site root. This is the folder that contains the website.
        #ftp-tree
    .inputs
      .title-input.first
        .title FTP server address
        .label-input
          = form.text_field(:server)
          = form.label :server, 'ftp.mywebsite.com'
      .title-input
        .title Login
        .label-input
          = form.text_field(:login)
          = form.label :login, 'jdoe'
      .title-input
        .title Password
        .label-input
          = form.password_field(:password)
          = form.label :password, 'Password'
      .title-input
        .title Website name
        .label-input
          = form.text_field(:name)
          = form.label :name, 'My Great Website'
      .title-input
        .title Website address
        .label-input
          = form.text_field(:site_url)
          = form.label :site_url, 'www.mywebsite.com'
    .clear

    .popup-action-bar
      %small.description= description
      = form.submit "Update"
      = link_to_function "Cancel", "hidePopup();", :class => 'action cancel'

:javascript
  SiteFtpTree.initForm(#{@site.id});
