.site-popup.two-column-popup#new-site-popup
  %h1= title
  - remote_form_for @site, :html => { :id => 'site_form' } do |form|
    .inputs.tree-input
      .label-input
        = form.hidden_field :site_root
        %small.description Choose the site root
        #ftp-tree
    .inputs
      .label-input
        = form.text_field(:name)
        = form.label :name, 'Server Name'
      .label-input
        = form.text_field(:server)
        = form.label :server, 'ftp.mywebsite.com'
      .label-input
        = form.text_field(:site_url)
        = form.label :site_url, 'www.mywebsite.com'
      .label-input
        = form.text_field(:login)
        = form.label :login, 'Login'
      .label-input
        = form.password_field(:password)
        = form.label :password, 'Password'
    .clear

    .popup-action-bar
      %small.description Click within the content above to edit it. To learn more about FTP click here.
      = form.submit "Update"
      = link_to_function "Cancel", "hidePopup();", :class => 'cancel'

:javascript
  SiteFtpTree.initForm(#{@site.id});
