- form_for @site, :html => { :id => 'site_form' } do |form|
  = form.error_messages
  %table.card
    %tr
      %th= form.label :name
      %td= form.text_field :name
    %tr
      %th= form.label :server
      %td= form.text_field :server
    %tr
      %th= form.label :site_root
      %td
        = form.text_field :site_root
        = link_to_function image_tag('tree/open.png'), 'FtpTree.show()'
    %tr
      %th= form.label :login
      %td= form.text_field :login
    %tr
      %th= form.label :password
      %td= form.password_field :password
  = submit_tag :submit

#ftpTree
  .error

:javascript
  initSiteForm();
