= stylesheet_link_tag 'nocontent'

.nosites
  - if @sites.empty? && current_user.owner?
    .inside
      Currently there are no sites.
      %br
      You need to add a site before you can edit.
      %br
      To add a site you will need the sites FTP info.
      %br
  
      = render "layouts/action_bars/add_site"
    = help_link_for :add_sites
  - else
    .inside
      Select a site or page in the sidebar.
    = help_link_for :choose_sites
  .helper
  = help_link_for :add_sites