= stylesheet_link_tag 'site'

- @title = @site.name
- @hint = 'Choose the pages you wish to deactivate by clicking the box next to that page. You can also remove the page completely. Click update when your done.'
- @selected_site = @site

= content_for :actions do
  = render "layouts/action_bars/preferences_site", :site => @site
  = render "layouts/action_bars/add_page", :site => @site
  = render "layouts/action_bars/remove_site", :site => @site

= content_for :action_bar do
  = render "layouts/action_bars/remove_site", :site => @site


- form_remote_tag :url => enable_site_pages_path(@site), :html => { :id => 'pages_form' } do
  %table
    %caption= "Pages"
    %tbody
      - sort_pages(@site.pages).each do |page|
        %tr.page
          %td{:style => "width: 20px;  vertical-align: middle;"}= check_box_tag "page[#{page.id}]", '1', page.enabled
          %td{:style => "width: 150px; vertical-align: bottom;"}= label_tag "page_#{page.id}", page.path
          %td{:style => "width: 50px;  vertical-align: bottom;"}= render "layouts/action_bars/remove_page", :page => page, :site => @site
  = submit_tag "Update", :class => "update-button"
