%h2=@site.name
- owner? do
  #actions
    = link_to_remote 'Add Page', :url => new_site_page_path(@site), :method => :get, :html => { :href => new_site_page_path(@site) }
    = link_to_remote 'Edit Site', :url => edit_site_path(@site), :method => :get, :html => { :href => edit_site_path(@site) }
    = link_to 'Remove Site', @site, :method => :delete, :confirm => 'Are you sure?'

%table.card
  %tr
    %th Server:
    %td= h @site.server
  %tr
    %th Site Root:
    %td= h @site.site_root
  %tr
    %th Site URL:
    %td= h @site.site_url
  %tr
    %th Login:
    %td= h @site.login
