= stylesheet_link_tag 'site'

- @title = @site.name
- @hint = 'Choose the pages you wish to deactivate.'
- @selected_site = @site

= content_for :actions do
  = link_to_remote 'Add Page', :url => new_site_page_path(@site), :method => :get
  = link_to_remote 'Settings', :url => edit_site_path(@site), :method => :get
  = link_to_remove @site, 'Remove Site'

%h2 Pages
- form_remote_tag :url => disable_site_pages_path(@site), :html => { :id => 'pages_form' } do
  - @site.pages.each do |page|
    = render 'page', :page => page
  = submit_tag "Update", :class => "update-button"
