= stylesheet_link_tag 'site'
= stylesheet_link_tag 'nocontent'

- @title = @site.name
- @hint = 'Choose the pages you wish to deactivate by clicking the box next to that page. You can also remove the page completely. Click update when your done.'
- @selected_site = @site

= content_for :actions do
  = render "layouts/action_bars/preferences_site", :site => @site
  -# = render "layouts/action_bars/add_page", :site => @site
  = render "layouts/action_bars/remove_site", :site => @site


- form_remote_tag :url => enable_site_pages_path(@site), :html => { :id => 'pages_form' } do
  %table.pages
    %caption
      = "Pages"
      = render "layouts/action_bars/add_page", :site => @site
    - if @site.pages.any?
      %tbody
        - sort_pages(@site.pages).each do |page|
          %tr.page
            %td.checkbox= check_box_tag "page[#{page.id}]", '1', page.enabled
            %td.label= label_tag "page_#{page.id}", page.path
            %td.table_actions= render "layouts/action_bars/remove_page", :page => page, :site => @site
  - if @site.pages.any?          
    = submit_tag "Update", :class => "update-button"


- if @site.pages.empty?
  %br
  .all_wrapper
    .nosites
      .wrapper
        .inside
          Currently there are no pages for this site in EditFu.
          %br
          EditFu needs to know which pages 
          %br
          you want to edit.
          %br
          = render "layouts/action_bars/add_page", :site => @site
      .helper
    = help_link_for :add_pages
