#image-popup.two-column-popup(class=@type)
  %h1 #{@action} Image

  - form_tag site_images_path(@site), :id => 'image-form', :multipart => true, :onsubmit => 'return false;', :method => :post do
    = hidden_field_tag :type, @type
    
    .inputs.image-list
      .label-input
        %small.description Choose an image that was previously uploaded....
        #thumbnails
          = render :partial => 'show', :collection => @images, :as => :name
    
    .inputs.file-inputs
      %small.description or add a new image.
      .fake-file
        = file_field_tag 'image', :id => 'image-file', :onchange => 'uploadImage()'
        %img(src='/images/choose_a_file.png')
        %span.path MyComputer/folder/image2234.jpg
    
    .inputs.url-inputs
      %small.description or paste a link to an image.
      .label-input
        = text_field_tag :src, nil
        = label_tag :src, 'www.flickr.com/user/image.jpg'
    .clear

    .inputs.alt-input
      %small.description Provide an alternate text title for this image.
      .label-input
        = text_field_tag :alt
        = label_tag :alt, 'Image Title'
    .clear

    .popup-action-bar
      %small.description
        - if @type == 'content'
          Choose a previously uploaded image, a new image, or provide a link to an image to insert into your content.  Give the image a title and click insert.
        - else
          Choose a previously uploaded image or a new image to replace the current image with. It’s best to use an image of the same size. Give the image a title then click swap.
      = link_to_function @action, 'doImageAction()'
      = link_to_function "Cancel", "hidePopup();", :class => 'cancel'
