.popup#broswer-support
  %h1 
    The browser you are currently using is not supported. 
    %br 
    Portions of our website may not display or function properly 
    when used with your current browser.
  %h4 
    We recommend using one of the most recent versions of the following supported browsers:
  %ul
    %li
      %a{ :href => "http://www.microsoft.com/windows/internet-explorer/" } 
        = image_tag "browsers/ie8.png"
        %strong Internet Explorer 8
    %li
      %a{ :href => "http://www.google.com/chrome/" } 
        = image_tag "browsers/chrome.png"
        %strong Google Chrome
    %li
      %a{ :href => "http://www.opera.com/" } 
        = image_tag "browsers/opera.png"
        %strong Opera 10
    %li
      %a{ :href => "http://www.mozilla.com/" } 
        = image_tag "browsers/firefox.png"
        %strong FireFox 3.6
    %li
      %a{ :href => "http://www.apple.com/safari/" } 
        = image_tag "browsers/safari.png"
        %strong Safari
  .popup-action-bar
    %a{ :class => 'action cancel', :href => '#' }
      Continue using your current browser
