%li(id="site-#{site.id}-menu")
  %div{:class => (site == @selected_site ? 'selected' : nil)}
    .label
      - if current_user.owner?
        = link_to site.name, site_path(site)
      - else
        = site.name

  %ul.menu(id="site-#{site.id}-menu-ul")
    - sort(current_user.site_pages(site), :path).each do |page|
      - if page.enabled
        = render 'layouts/page_menu_item', :page => page, :selected => @page
