!!! transitional
%html
  %head
    %title= @title || 'Edit-Fu'
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }

    = stylesheet_link_tag 'reset', 'layout', 'messages', 'source_bar', 'system_bar', 'action_window', 'action_bar'
    = stylesheet_link_tag 'popups/popup', 'popups/preferences-popup'
    = stylesheet_links

    = javascript_include_tag :defaults, 'tree', 'upload', 'popup', 'css', 'indents'
    = javascript_includes

  %body
    #all
      #system-bar
        = yield :tabs
        = link_to "", root_path, :class => "logo"

        = link_to 'Logout', destroy_user_session_path, :class => 'system-link'
        - link_to '#', :class => 'system-link', :alt => 'Help' do
          %img(src='/images/help.png')
        = link_to_remote image_tag("preferences.png", :alt => 'Preferences'), | 
          :url => preferences_path, | 
          :method => :get, |
          :html => { :class => 'system-link', :href => preferences_path } |

      #source-bar
        = yield :sourceBar

      #action-window
        #main
          -if @title && @hint
            .header
              %span.title= @title
              %span.actions
                = yield :actions
              .hint
                %span.nbsp &nbsp;
                = @hint
          = yield
          .clear

      #page-message.message(style='display: none;')
    
      #action-bar
      
    #popup-system{:style => (@content_for_popup ? nil : 'display: none;')}
      .popup#popup
        = yield :popup
      .popup-hider#popup-hider

    - if message_kind
      :javascript
        showMessage("#{message_kind}", "#{flash[message_kind]}");
