= content_for :body do
  #system-bar
    #tabs
      = render 'layouts/tab', :name => 'pages', :href => sites_path, :tab => tab
      - if current_user.owner?
        = render 'layouts/tab', :name => 'editors', :href => editors_path, :tab => tab
    
    .logo

    = link_to 'Logout', destroy_user_session_path, :class => 'system-link'
    - link_to '#', :class => 'system-link', :alt => 'Help' do
      %img(src='/images/help.png')
    - link_to preferences_path, :class => 'system-link', :alt => 'Preferences' do
      %img(src='/images/preferences.png')

  #source-bar
    = yield :sourceBar

  #action-window
    #main
      -if @title && @hint
        .header
          %span.title= @title
          %span.actions
            = yield :actions
          .hint
            %span.nbsp &nbsp;
            = @hint
      = yield

  #page-message.message(style='display: none;')
    
  #action-bar
    - link_to new_href, :class => 'plus-action' do
      %img(src='/images/plus.png')
    = link_to_function 'Update', 'doUpdate();', :class => 'update-action'

  - if message_kind
    :javascript
      showMessage("#{message_kind}", "#{flash[message_kind]}");
= render :file => 'layouts/page'
