= content_for :sourceBar do
  %ul#top-menu
    %li
      %ul.menu#editor-menu
        - current_user.editors.each do |editor|
          = render 'layouts/editor_menu_item', :editor => editor, :selected => @editor

= content_for :tabs do
  = render "layouts/tabs", :tab => "editors"    
  
- inside_layout 'member' do
  = render "layouts/add_action_bar", :url => new_editor_path
  
  = yield
