= content_for :sourceBar do
  %ul#top-menu
    %li
      %ul.menu#editor-menu.editor-menu
        - sort_users(current_user.editors).each do |editor|
          = render 'layouts/editor_menu_item', :editor => editor, :selected => @editor


= content_for :tabs do
  = render "layouts/tabs", :tab => "editors"    

= content_for :action_bar do
  = render "layouts/action_bars/add_editor"
  
- inside_layout 'member' do
  = yield
