- inside_layout 'application' do
  = content_for :sourceBar do
    %ul#top-menu
      %li
        %ul.menu
          - current_user.editors.each do |editor|
            = render 'layouts/menu_item', :name => 'editor', :text => editor.name, |
              :href => editor_path(editor), :selected => editor == @editor |

  = content_for :tabs do
    = render "layouts/tabs", :tab => "editors"    
  
  = render "layouts/add_action_bar", :url => new_editor_path
  
  = yield
