!!! transitional
%html
  %head
    %title= @title
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }

    = stylesheet_link_tag 'reset', 'public', 'input', 'action_bar', 'messages'
    = javascript_include_tag :defaults, 'css'
  %body.public
    %img#art-bg(src='/images/public-bg.jpg')
    %img#logo(src='/images/editfu.png')
    #main
      = yield
    #action-bar
    = render 'layouts/message'
