<!DOCTYPE html>
%html
  %head
    %title= @title
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8' }
    %meta{ 'name' => 'description', :content => @description }
    = render 'layouts/favicon'

    = stylesheet_link_tag 'reset', 'public', 'input', 'action_bar', 'messages', 'flash', 'public/login', 'popups/popup', 'popups/browser-support-popup', :cache => 'public-cached'
    = javascript_include_tag :defaults, 'css', 'public', 'placeholder', :cache => 'public-cached'
    = javascript_include_tag 'badbrowser'
    = yield :additional
    
    /[if lt IE 9]
      = stylesheet_link_tag "ie.css"

    /[if lt IE 8]
      = stylesheet_link_tag "ie7.css"      
      
  %body.public{:class => (@company_logo.blank? ? 'general' : 'company')}
    #all
      - if @company_logo.present?
        #company-logo= @company_logo
      - else
        %img#editfu-logo(src='/images/editfu.png')
      #main
        %span#system-link-alert
        = yield
      #action-bar

      #popup-system{:style => 'display: none;'}
        = render 'layouts/browser_support'
      
    = render 'layouts/flash'

    = analitycs