- inside_layout 'application' do
  = content_for :sourceBar do
    %ul#top-menu
      - current_user.sites.each do |site|
        = render 'layouts/site_menu_item', :site => site

  = content_for :tabs do
    = render "layouts/tabs", :tab => "pages"    

  #add-action-bar
    = link_to "", new_site_path, :class => 'plus-action'

  = yield