- inside_layout 'member' do
  = content_for :sourceBar do
    = render 'layouts/site_top_menu'

  = content_for :tabs do
    = render "layouts/tabs", :tab => "pages"    

  = content_for :action_bar do
    - if @site
      = render "layouts/action_bars/preferences_site", :site => @site
      = render "layouts/action_bars/add_page", :site => @site
    = render "layouts/action_bars/add_site"
    
  = yield
